.main-navigation {
	// Top level container display flex to order logo, primary nav, and secondary nav
	display: flex;
	flex-direction: column;
	width: 100%;
	text-transform: uppercase;
	padding: 20px;

	.menu-logo {
		display: flex;
		text-transform: none;
		flex: 0;

		a {
			flex-grow: 1;
			flex-shrink: 0;
		}
	}


	// Display none on mobile, display flex on normal, to organize li tags
	ul {
		justify-content: center;
		align-items: center;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		margin: 0 4%;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.main-navigation {

	.menu-primary-navbar-container {
		text-align: center;
		display: none;
		font-size: 1em;
	}

	.menu-secondary-navbar-container {
		text-align: center;
		display: none;
		font-size: .8em;
	}
}

.menu-toggle,
.main-navigation.toggled {
	.menu-primary-navbar-container {
		display: block;

		ul {
			display: block;
		}
	}

	.menu-secondary-navbar-container {
		display: block;

		ul {
			display: block;
		}
	}
}

@include media(">=tablet"){
	.menu-toggle {
		display: none;
	}

	.main-navigation {

		flex-direction: row;

		.menu-logo {
			flex: 2;
		}

		.menu-primary-navbar-container {
			display: block;
			flex: 3;
		}

		.menu-secondary-navbar-container {
			display: block;
			flex: 2;
		}

		ul {
			display: flex;
		}

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
